# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore Docker-related files
*.log
docker-compose.override.yml

# Ignore pytest cache
.pytest_cache/

# Ignore VS Code settings
.vscode/
